<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Assignment 1
      </mat-panel-title>
      <mat-panel-description>
        Count the occurrence of each character in a given string.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-assignment1></app-assignment1>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Assignment 2
    </mat-panel-title>
    <mat-panel-description>
      checkout system for a shop
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-assignment2></app-assignment2>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Assignment 3
    </mat-panel-title>
    <mat-panel-description>
      Quiz
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-assignment3></app-assignment3>
</mat-expansion-panel>